# ignore object files, binaries and caches
*.out
.obj/
.cache/*

# used for enhanced development
tags
compile_commands.json

# compiled binary, but not sources
wander
!src/wander
!include/wander
client
!src/client
!include/client
gui
!src/gui
!include/gui

# ignore soydev editor
.vscode/*
.vscode/**/*
